* {
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    padding: 0;
    margin: 0;
}

.header,
.website-content-top {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 15vw 0 15vw;
}

.header h1 {
    margin-right: auto;
    font-size: 24px;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header a {
    text-decoration: none;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.website-content-top {
    padding: 100px 15vw 100px 15vw;
    gap: 24px;
}

.website-content-top div {
    /* border: 1px solid red; */ 
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.website-content-top div h2 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.website-content-top div button {
    margin: 0;
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    border-radius: 8px;
    border: 0;
}

.top-img-placeholder {
    background-color: grey;
    text-align: center;
    justify-content: center;
    height: 200px;
}

.website-content-cards {
    padding: 10px 15vw 70px 15vw;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    gap: 50px;
}

.website-content-cards h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
}

.card {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    width: 150px;
}

.card div {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.card p {
    text-align: center;
}

.website-content-quote {
    padding: 90px 15vw 90px 15vw;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-left: 70px;
    margin-right: 50px;
    font-weight: 200;
}

.quoted-name {
    align-self: self-end;
    font-size: 24px;
    font-weight: 600;
    margin-right: 40px;
}

.website-content-cta {
    margin: 90px 15vw 90px 15vw;
    padding: 30px 80px 30px 80px;
    background-color: #3882F6;
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
}

.website-content-cta .left-text {
    color: #E5E7EB;
    width: 80%;
    margin-right: auto;
}

.left-text strong {
    font-size: 25px;
}

.website-content-cta .right-button button{
    margin: 0;
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #E5E7EB;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}